*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.navbar{
  background-color: black;
  width: 75%;
}
.container-1{
  background-color: black;
}
.img1{
  width: 80px;
  height: 60px;
}
.navbar-nav{
  background-color: orangered;
  border-radius: 35px;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-nav li{
  padding: 13px;
}
.btn1{
  background-color: black;
  color: white;
  height: 30px;
  margin-top: 18px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-nav li:hover{
     border-bottom: 3px solid white;
}
/* Nav Barv End */
/* Header Start */
.carousel-caption{
  margin-bottom: 80px;
}


.First{
  color: white;
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: bold;
}
.span1{
  color: #ff7300;
}
.para2{
  color: white;
}
.span3{
  color: #ff7300;
}
.btn2{
  background-color: #ff7300;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
}
.btn2:hover{

  background-image: linear-gradient(to right, rgb(195, 199, 157) , rgb(94, 223, 65));
  color: black;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.8s;
  
}



/* Header End */
/* Section-1 start */
.custom-20{
  border-radius: 20px;
  border: 3px dashed  rgb(224, 150, 80);
  transform: rotateZ(-30deg);
  position: relative;
  
 
 
}
.custom-21{
  background-color:bisque;
  border-radius: 20px;
  transform: rotateZ(-60deg);
  

}
.sec2{
  font-weight: bold;
  color: rgb(224, 150, 80);
 
 
}
.img4{
  width: 140px;
    height: 200px;
    transform: rotateZ(90deg);

}
.mydiv15{
  width: 80px;
  height: 80px;
  border: 3px dashed  rgb(222, 155, 92);
  border-radius: 10px;
  transform: rotateZ(45deg);
  position: absolute;
  margin-left: 250px;
  margin-top: -120px;
  
}
.mydiv16{
  width: 80px;
  height: 80px;
  border: none;
  background-color: #ff7b00;
  border-radius: 10px;
  transform: rotateZ(-45deg);
}
.img22{
  width: 65px;
  height: 65px;
  padding-top: 15px;
  padding-left: 15px;
}
.custom-22{
  background-color: bisque;
  border-radius: 15px;
}
.second{
  font-weight: bold;
}
.span22{
  color: #ff7b00;
   
}
.p3{
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
 
 }
 .span23{
  font-size: 13px;
  color: #ff7b00;
  font-weight: bold;
 }
 .div49{
  width: 90%;
  background-color: whitesmoke;
  border-radius: 10px;

 }
 .third{
  color: #ff7b00;
  font-weight: bold;
 

 }
 .span27{
  color: #ff7b00;
    font-size: 16px;
   
    font-family: 'Poppins', sans-serif;
 }
 .p4{
  font-size: 12px;
 }
 .box-2{
  width: 15%;
  height: 6%;
  /* transform: rotateZ(45deg); */
    border-radius: 5px;
    font-size: 10px;
  background-color: bisque;
 }
 .box-4{
  width: 48px;
  height: 48px;
  background-color: bisque;
  transform: rotateZ(45deg);
  /* border: 2px dashed #ff7300; */
  border-radius: 8px;
  /* transform: rotate(360deg); */
  /* animation:change 4s linear 0s infinite normal; */
  position: relative;
 }
 .btn8{
  background-color: #ff7300;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  padding: 8px 15px 8px 15px;
 }
 .btn8:hover{
    background-color: black;
    border: 2px solid white;
 }
/* Section-2 Start */
.img7{
  width: 120px;
  height: 120px;
  border-radius: 60px;
 margin-left: 20px;
}
.fourth{
  color: white;
}
.para6{
  color: white;
}
/* Section-3 Satrt */
.five{
  font-weight: bold;
}
.span6{
  color: #ff7300;
}
/* Section-3 End */
/* Swction-4 Start */
.five{
  color: black;
  opacity: 1.0;
}
.card{
  background-color: bisque;

  border-radius: 20px;
  align-items: center;
  padding-bottom: 20px;
}

.card-body{
  background-color: whitesmoke;
  width: 90%;
  border-radius: 20px;
}
.card-heading{
  font-weight: bold;
}

.class-para{
  color: #ff7b00;
  font-weight: bold;
}
.span5{
  font-size: 18px;
}
.btn4{
  border: none;
  background-color: bisque;
  font-weight: bold;
  padding: 8px 20px 8px 20px;
  border-radius: 25px;
  margin-left: 0%;
  margin-top: -12%;
  position: absolute;

}
.btn4:hover{
  background-color: #ff7b00;
 
 }
 /* Swction-4 Start */
 .container-5{
  background-image:url("../images/naresh.png");
  width: 100%;
  height: 90vh;
  background-size: 100% 100%;
 }

 .six{
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  color: white;
 }
 .para9{
  color: white;
 }
 .para10{
  color: white;
  opacity: 0.5;
 }
 .seven{
  color: #ff7300;
  font-weight: bold;
 }
 .btn5{
  border: none;
  background-color:#ff7300;
  font-weight: bold;
  padding: 8px 20px 8px 20px;
  border-radius: 25px;
 
  margin-top: -50px;
  margin-left:170px;
  position: absolute;
  color: white;

 }
 .btn5:hover{
   background-color: black;
   border: 1px solid white;
 }
.img8{
  width: 250px;
  height: 250px;

}
/* Swction-4 End */
/* Section-5 Start */
.mb-auto{
  width: 60px;
  height: 60px;
  border: 2px dashed #ff7300;
  border-radius: 10px;
  transform: rotate(360deg);
    animation:change 4s linear 0s infinite normal;
    position: relative;
   
   }
   @keyframes change{ 
 
    0%{ 
         transform: rotate(0deg); 
     
       
    }
  
    100%{ 
         transform: rotate(360deg); 
    
    } 
 
 
 
}
.img9{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transform: rotate(360deg);
  animation:change 4s linear 0s infinite reverse;
  position: relative;
 
 }
 @keyframes change{ 

  0%{ 
       transform: rotate(0deg); 
   
     
  }

  100%{ 
       transform: rotate(360deg); 
  
  } 
 

  
}
.p-2{
  width: 60px;
  height: 60px;
  border: 2px dashed #ff7300;
  border-radius: 10px;
  transform: rotate(360deg);
  animation:change 4s linear 0s infinite normal;
  position: relative;
 
 }
 @keyframes change{ 

  0%{ 
       transform: rotate(0deg); 
   
     
  }

  100%{ 
       transform: rotate(360deg); 
  
  } 

}
.img10{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  transform: rotate(360deg);
  animation:change 4s linear 0s infinite reverse;
  position: relative;
 
 }
 @keyframes change{ 

  0%{ 
       transform: rotate(0deg); 
   
     
  }

  100%{ 
       transform: rotate(360deg); 
  
  } 

}
.div1{
 
  width: 60px;
  height: 60px;
  border: 2px dashed #ff7300;
  border-radius: 10px;
  margin-bottom: 180px;
  transform: rotateZ(25deg);
}
.carousel-caption{
  margin-bottom: 50px;
}
.para12{
  margin-bottom: -50px;
  color: black;
}

.span7{
  color: #ff7300;
}
/* Section-5 End */
/* Section-6 Start */
.container-7{
  background-image:url("../images/last.png");
}
.custom-10{
  border-right:  3px dashed white;
}
.eight{
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.custom-11{
  width: 110px;
  height: 110px;
  border-radius: 75px;
  background-color: orange;
  opacity: 0.5;
}
/* Only Button */
.pinkBg {
  background-color: orange!important;
  background-image: linear-gradient(90deg, #55fd82, #fd8b55);
}
.intro-banner-vdo-play-btn{
  height:60px;
  width:60px;
  position:absolute;
  /* top:50%;
  left:50%; */
  text-align:center;
 margin-left: -50px;
 margin-top:23px;
  border-radius:100px;
  z-index:1
}
.intro-banner-vdo-play-btn i{
  line-height:56px;
  font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
  position:absolute;
  width:160px;
  height:160px;
  z-index:-1;
  left:50%;
  top:50%;
  opacity:0;
  margin:-80px 0 0 -80px;
  border-radius:100px;
  -webkit-animation:ripple 1.8s infinite;
  animation:ripple 1.8s infinite
}

@-webkit-keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
@keyframes ripple{
  0%{
      opacity:1;
      -webkit-transform:scale(0);
      transform:scale(0)
  }
  100%{
      opacity:0;
      -webkit-transform:scale(1);
      transform:scale(1)
  }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
  animation-delay:.3s;
  -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
  animation-delay:.6s;
  -webkit-animation-delay:.6s
}
/* Only Button */
.ten{
  font-weight: bold;
  color: white;
  margin-top: -65px;
  margin-left: 200px;
}
.custom-11{
  width: 110px;
  height: 110px;
  border-radius: 75px;
  background-color: orange;
  margin-left: 70px;
  margin-top: 70px;
  text-align: center;
}
/* Section-6 End */
/* Footer Start */
.face{
  width: 40px;
  height: 35px;
  background-color: rgb(77, 146, 179);
  border: none;
  text-align: center;
  border-radius: 3px;
}
.face1{
  width: 40px;
  height: 35px;
  background-color: rgba(234, 187, 130, 0.995);
  border: none;
  text-align: center;
  border-radius: 3px;
}
.google{
  width: 40px;
  height: 35px;
  background-color: rgba(210, 96, 127, 0.995);
  border: none;
  text-align: center;
  border-radius: 3px;
}
.twit{
  width: 40px;
  height: 35px;
  background-color: rgba(115, 146, 212, 0.995);
  border: none;
  text-align: center;
  border-radius: 3px;
}
.face:hover{
 
  background-color: rgb(42, 159, 212);
  transform: scale(1.3);
  transition: all 0.5s;
}
.face1:hover{
 
  background-color: rgba(194, 130, 52, 0.995);
  transform: scale(1.3);
  transition: all 0.5s;
}
.google:hover{
  transform: scale(1.3);
  transition: all 0.5s; 
  background-color: rgba(225, 72, 113, 0.995);
}
.twit:hover{
  transform: scale(1.3);
  transition: all 0.5s; 
  background-color: rgba(72, 119, 222, 0.995);
}
.sp1{
  width: 65px;
  height: 5px;
  background-color: #ff7b00;
  border: none;
}
.sp2{
  width: 5px;
  height: 5px;
  background-color: #ff7b00;
  border: none;
 }
 .sp3{
  width: 5px;
  height: 5px;
  background-color: #ff7b00;
  border: none;
 }
 .face3{
  width: 40px;
  height: 35px;
  background-color: bisque;
  border: none;
  text-align: center;
  border-radius: 3px;
 }
 .custom-18{
  font-size: 13px;

 }
 .custom-16{
  background-color: bisque;
  border-radius: 20px;
  font-size: 12px;
  position: relative;
  z-index: 1000;
  
 }
 .custom-17{
  width: 230px;
  height: 230px;
  border: 35px solid whitesmoke;
  border-radius: 50%;
  position: absolute;
  z-index: -1000;
  left: 14%;
  top: -30px;
 }
 .face3:hover{
  transform: scale(1.3);
  transition: all 0.5s; 
}
/* Footer End */




@media (max-width: 952px){
  .img8{
    display: none;
  }
  .scrol{
    display: none;
  }
  .custom-22{
    margin-top: 100px;
  }
 
}
@media (max-width: 800px){
  .img8{
    display: none;
  }
  .scrol{
    display: none;
  }
  .custom-22{
    margin-top: 200px;
  }
}
@media (max-width: 600px){
  .img8{
    display: none;
  }
  .scrol{
    display: none;
  }
  .custom-22{
    margin-top: 100px;
  }
}
@media (max-width: 480px){
  .img8{
    display: none;
  }
  .scrol{
    display: none;
  }
  .custom-22{
    margin-top: 100px;
  }
}